@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600&display=swap');

:root {
  --fontFamily: 'Poppins';
  --fontSize: 1.6rem;
  --greyColor: rgba(255, 255, 255, 0.55);
  --whiteColor: rgba(255, 255, 255, 0.90);

  --bgColor: #1E252B;
  --containerWidth: 125.4rem;

  --btnColor: #FF6E30;
  --btnTextColor: #FDF5FF;
  --btnBorderRadius: .8rem;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
}

html {
  font-size: 62.5%;
}

body {
  color: var(--greyColor);
  line-height: 1;
  font-family: var(--fontFamily);
  font-size: var(--fontSize);
  background: var(--bgColor);
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: var(--fontFamily);
  font-size: inherit;
  outline: none;
  color: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
  line-height: normal;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

/*======================*/

.lock {
  overflow: hidden;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  min-height: 100%;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

[class*="__container"] {
  max-width: var(--containerWidth);
  margin: 0 auto;
  padding-inline: 1.5rem;
}

.btn {
  display: inline-block;
  color: var(--btnTextColor);
  font-size: var(--fontSize);
  font-weight: 600;
  border-radius: var(--btnBorderRadius);
  background: var(--btnColor);
}

.title {
  color: var(--whiteColor);
  font-size: 4.8rem;
  font-weight: 500;
  line-height: 130%;
}

.description {
  color: var(--greyColor);
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 3rem;
}

/*===================================*/

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 10rem;
  min-width: 100%;
}

.header__container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .logo {
  padding-right: .93rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.2rem;
}

.header .logo .logo__text {
  color: var(--whiteColor);
  font-size: 2.2rem;
  font-weight: 600;
}

.menu__icon {
  display: none;
}

.header .menu {
  padding-inline: 1.5rem;
}

.header .menu .menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4rem;
}

.header .menu .menu__link {
  font-size: var(--fontSize);
  font-weight: 500;
}

.header .btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4rem;
}

.header .btn-box .btn {
  padding: 1.2rem 2.8rem;
}

/*===================================*/

.home {
  margin-top: 10rem;
  padding-top: 7.8rem;
}

.home__container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 5;
}

.home .title {
  margin-bottom: 3rem;
  max-width: 60rem;
  font-size: 5rem;
  line-height: 140%;
}

.home .description {
  margin-bottom: 6rem;
  max-width: 48.7rem;
  font-weight: 400;
}

.home .search-body {
  margin-bottom: 11.2rem;
  padding: .8rem 1.1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 49.8rem;
  border-radius: 1.5rem;
  border: .15rem solid rgba(255, 255, 255, 0.10);
  background: #283036;
}

.home .search-body img {
  margin: 0 1.3rem 0 .7rem;
}

.home .search-body input {
  margin-right: 1.5rem;
  width: 100%;
  background: transparent;
}

.home .search-body .btn {
  padding: 1.2rem 3.612rem;
}

.home .social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3rem;
}

.home__media {
  position: absolute;
  top: -6rem;
  right: -8rem;
}

/*===================================*/

.popular-tools {
  padding-block: 20rem;
}

.popular-tools__top {
  margin-bottom: 11rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  gap: 2.5rem;
}

.popular-tools__top .description {
  max-width: 42.7rem;
}

.popular-tools .tools__row {
  margin-bottom: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2rem;
}

.popular-tools .tools__item {
  padding: 3.3rem;
  min-width: 39.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3rem;
  border: 2px solid transparent;
}

.popular-tools .tools__haed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3rem;
}

.popular-tools .tools__haed .program-name {
  color: rgba(255, 255, 255, 0.78);
  font-size: 2.4rem;
  font-weight: 500;
  line-height: normal;

}

.popular-tools .tools__haed .price {
  color: rgba(255, 165, 55, 0.55);
  font-size: 1.8rem;
  line-height: normal;
}

.popular-tools .tools .text {
  max-width: 32.6rem;
  color: var(--greyColor);
  line-height: 3rem;
}

.popular-tools .tools__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.popular-tools .tools__footer .functions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2.5rem;
}

.popular-tools .tools__footer .btn-empty {
  padding: .9rem 3.5rem;
  color: var(--greyColor);
  font-weight: 600;
  line-height: normal;
}

.popular-tools__btn-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.popular-tools .btn--none-bg {
  padding: 1.7rem 3.8rem;
  color: #FF6E30;
  font-size: 2rem;
  font-weight: 500;
  line-height: normal;
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.10);
  background: transparent;
}











/*===================================*/
/*===================================*/
/*===================================*/
/*===================================*/
/*===================================*/
/*===================================*/
/*===================================*/
/*===================================*/
/*===================================*/
/*===================================*/
/*===================================*/
/*===================================*/

@media (max-width: 991.98px) {

  .header .menu .menu__list,
  .header .btn-box {
    gap: 2.5rem;
  }
}

@media (max-width: 767.98px) {
  .header {
    min-height: 8rem;
  }

  .menu__icon {
    display: block;
    position: relative;
    z-index: 100;
    height: 5rem;
    width: 5rem;
  }

  .ham {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    -webkit-transition: -webkit-transform .4s;
    transition: -webkit-transform .4s;
    -o-transition: transform .4s;
    transition: transform .4s;
    transition: transform .4s, -webkit-transform .4s;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .hamRotate.active {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .hamRotate180.active {
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
  }

  .line {
    fill: none;
    -webkit-transition: stroke-dasharray .4s, stroke-dashoffset .4s;
    -o-transition: stroke-dasharray .4s, stroke-dashoffset .4s;
    transition: stroke-dasharray .4s, stroke-dashoffset .4s;
    stroke: var(--greyColor);
    stroke-width: 5.5;
    stroke-linecap: round;
  }

  .ham1 .top {
    stroke-dasharray: 40 139;
  }

  .ham1 .bottom {
    stroke-dasharray: 40 180;
  }

  .ham1.active .top {
    stroke-dashoffset: -9.8rem;
  }

  .ham1.active .bottom {
    stroke-dashoffset: -13.8rem;
  }

  .header .menu {
    padding-inline: 0;
  }

  .header .menu__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    overflow: auto;
    gap: 4rem;

    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 15;
    -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
            transform: translateY(-100%);

    -webkit-backdrop-filter: blur(3px);

            backdrop-filter: blur(3px);
    background: rgb(28, 35, 41, .85);

    -webkit-transition-delay: .2s;

         -o-transition-delay: .2s;

            transition-delay: .2s;
    -webkit-transition: -webkit-transform .5s ease-in-out;
    transition: -webkit-transform .5s ease-in-out;
    -o-transition: transform .5s ease-in-out;
    transition: transform .5s ease-in-out;
    transition: transform .5s ease-in-out, -webkit-transform .5s ease-in-out;
  }

  .header .show .menu__body {
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
  }

  .header .menu .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }

  .header .menu .menu__item {
    opacity: 0;
    -webkit-transition: opacity .5s;
    -o-transition: opacity .5s;
    transition: opacity .5s;
  }

  .header .show .menu__body .item1 {
    -webkit-animation: fadeIn 0.5s forwards .2s;
            animation: fadeIn 0.5s forwards .2s;
  }

  .header .show .menu__body .item2 {
    -webkit-animation: fadeIn 0.5s forwards .4s;
            animation: fadeIn 0.5s forwards .4s;
  }

  .header .show .menu__body .item3 {
    -webkit-animation: fadeIn 0.5s forwards 0.6s;
            animation: fadeIn 0.5s forwards 0.6s;
  }

  .header .show .menu__body .item4 {
    -webkit-animation: fadeIn 0.5s forwards 0.8s;
            animation: fadeIn 0.5s forwards 0.8s;
  }

  @-webkit-keyframes fadeIn {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  .header .menu .menu__link {
    font-size: 2rem;
  }

  .header .btn-box {
    opacity: 0;
  }

  .header .show .menu__body .btn-box {
    -webkit-animation: fadeIn 0.5s forwards 0.8s;
            animation: fadeIn 0.5s forwards 0.8s;
  }


  .header .btn-box .btn-empty {
    margin-inline: 3.85rem;
  }

  .home {
    margin-top: 7rem;
  }

  .home .search-body {
    margin-bottom: 7rem;
  }

  .home__media {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: bottom;
        -ms-flex-align: bottom;
            align-items: bottom;
    bottom: 0;
    opacity: .3;
  }

  .popular-tools {
    padding-block: 10rem;
  }

  .popular-tools__top {
    margin-bottom: 8rem;
    gap: 2rem;
  }

  .popular-tools .tools__row {
    margin-bottom: 0;
  }

  .popular-tools__btn-body {
    margin-top: 7rem;
  }
}