@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600&display=swap');

:root {
  --fontFamily: 'Poppins';
  --fontSize: 1.6rem;
  --greyColor: rgba(255, 255, 255, 0.55);
  --whiteColor: rgba(255, 255, 255, 0.90);

  --bgColor: #1E252B;
  --containerWidth: 125.4rem;

  --btnColor: #FF6E30;
  --btnTextColor: #FDF5FF;
  --btnBorderRadius: .8rem;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

html {
  font-size: 62.5%;
}

body {
  color: var(--greyColor);
  line-height: 1;
  font-family: var(--fontFamily);
  font-size: var(--fontSize);
  background: var(--bgColor);
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: var(--fontFamily);
  font-size: inherit;
  outline: none;
  color: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
  line-height: normal;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

/*======================*/

.lock {
  overflow: hidden;
}

.wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-height: 100%;
}

.page {
  flex: 1 1 auto;
}

[class*="__container"] {
  max-width: var(--containerWidth);
  margin: 0 auto;
  padding-inline: 1.5rem;
}

.btn {
  color: var(--btnTextColor);
  font-size: var(--fontSize);
  font-weight: 600;
  border-radius: var(--btnBorderRadius);
  background: var(--btnColor);
}

.title {
  color: var(--whiteColor);
  font-size: 4.8rem;
  font-weight: 500;
  line-height: 130%;
}

.description {
  color: var(--greyColor);
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 3rem;
}

/*===================================*/

.header {
  display: flex;
  align-items: center;
  min-height: 10rem;
}

.header__container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .logo {
  padding-right: .93rem;
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.header .logo .logo__text {
  color: var(--whiteColor);
  font-size: 2.2rem;
  font-weight: 600;
}

.menu__icon {
  display: none;
}

.header .menu {
  padding-inline: 1.5rem;
}

.header .menu .menu__list {
  display: flex;
  gap: 4rem;
}

.header .menu .menu__link {
  font-size: var(--fontSize);
  font-weight: 500;
}

.header .btn-box {
  display: flex;
  align-items: center;
  gap: 4rem;
}

.header .btn-box .btn {
  padding: 1.2rem 2.8rem;
}

/*===================================*/

.home__container {
  display: flex;
  flex-direction: column;
}

.home .title {
  margin: 7.8rem 0 3rem 0;
  max-width: 60rem;
  font-size: 5rem;
  line-height: 140%;
}

.home .description {
  margin-bottom: 6rem;
  max-width: 48.7rem;
  font-weight: 400;
}

.home .search-body {
  padding: .8rem 1.1rem; 
  display: flex;
  max-width: 49.8rem;
  border-radius: 1.5rem;
  border: .15rem solid rgba(255, 255, 255, 0.10);
  background: #283036;
}

.home .search-body input {
  margin-right: 1.5rem;
  flex: 1 1 auto;
  max-width: 15rem;
  background: transparent;
}

.home .search-body .btn {
  padding: 1.2rem 3.612rem;
}

/*===================================*/




















/*===================================*/
/*===================================*/
/*===================================*/
/*===================================*/
/*===================================*/
/*===================================*/
/*===================================*/
/*===================================*/
/*===================================*/
/*===================================*/
/*===================================*/
/*===================================*/

@media (max-width: 991.98px) {
  .header .menu .menu__list, .header .btn-box {
    gap: 2.5rem;
  }
}

@media (max-width: 767.98px) {
  .menu__icon {
    display: block;
    position: relative;
    z-index: 100;
    height: 5rem;
    width: 5rem;
  }

  .ham {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: transform .4s;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .hamRotate.active {
    transform: rotate(45deg);
  }

  .hamRotate180.active {
    transform: rotate(180deg);
  }

  .line {
    fill: none;
    transition: stroke-dasharray .4s, stroke-dashoffset .4s;
    stroke: var(--greyColor);
    stroke-width: 5.5;
    stroke-linecap: round;
  }

  .ham1 .top {
    stroke-dasharray: 40 139;
  }

  .ham1 .bottom {
    stroke-dasharray: 40 180;
  }

  .ham1.active .top {
    stroke-dashoffset: -9.8rem;
  }

  .ham1.active .bottom {
    stroke-dashoffset: -13.8rem;
  }

  .header .menu {
    padding-inline: 0;
  }

  .header .menu__body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: auto;
    gap: 4rem;

    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform: translateY(-100%);

    backdrop-filter: blur(.2rem);
    background: rgb(28, 35, 41, .85);

    transition-delay: .2s;
    transition: transform .5s ease-in-out;
  }

  .header .show .menu__body {
    transform: translateY(0);
  }

  .header .menu .menu__list {
    flex-direction: column;
    text-align: center;
  }

  .header .menu .menu__link {
    font-size: 2rem;
  }

  .header .btn-box .btn-empty {
    margin-inline: 3.85rem;
  }
}