// Заголовки, общие БЄМ блоки и проче...

.title {
    color: rgba(255, 255, 255, 0.9);
    font-size: rem(48);
    font-weight: 500;
    line-height: rem(62.4);
}

.description {
    font-weight: 500;
    line-height: rem(30); 
}
